$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
// endbower

$perspective: 300;

.parallax {
  perspective: $perspective + px;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  transition: perspective .5s;
}

.fixed-aperture {
  // clip-path: url('#svgTextPath');
  clip-path: polygon(0 0, 0 100%, 250px 100%, 250px 250px, 750px 250px, 750px 750px, 250px 750px, 250px 100%, 100% 100%, 100% 0);
}

.tall {
  height: 1000px;
  width: 100vw;
  z-index: -1;
}

.whereami {
  width: 500px;
  height: 500px;
}

.absolute {
  top: 0;
  position: absolute;
}

.parallax__layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: flex-start;
  justify-content: center;

  h1 {
    margin-top: 5%;
  }

}

.parallax__group {
  position: relative;
  height: 100vh;
  transform-style: preserve-3d;
  transition: transform .5s;
}

.parallax__layer--base {
  transform: translateZ(0);
}

.iphone-video {
  width: 400px;
  height: 700px;
  border-radius: 30px;
  margin: auto auto;
}

.iphone {
  width: 400px;
  height: 700px;
  border-radius: 30px;
  border: 1px dashed black;
  box-sizing: border-box;
  position: fixed;
  left: 50%;
  top: 50%;
  margin-left: -200px;
  margin-top: -350px;
}

.green {
  background: linear-gradient(#498467 0%, #b2d3a8 100%);
  color: white;
  font-size: 36px;
}

.red {
  background: linear-gradient(#a30b37 0%, #bd6b73 100%);
  color: white;
  font-size: 36px;
  opacity: .5;
}

.blue {
  background: linear-gradient(#3f7cac 0%, #dccfec 100%);
  color: white;
  font-size: 36px;
}

.parallax.debug-on {

  .parallax__group {
    transform: translate3d(700px, 0, -800px) rotateY(30deg)
  }
}
